@import url(./bootstrap.css);
@import url(./bootstrap.rtl.css);
@import url(./bootstrap.min.css);
@import url(./bootstrap.rtl.min.css);

body{
    background-color: black;
    color: #fff;
    font-family: sans-serif;
    min-height: 100vh;
}

.login{
    font-size: 1.2rem;
    padding: 3%;
    color: black;
    background-color: #f1e6e6;
    margin-top: 10%;
}

.error{
    border: 1px solid #ff000f
}

.nav-white {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr; 
    color: #000;      
    background-color: #fff;
    width: 100%;
    display:grid;
    margin: 0;

}

.btn-submit{
    background-color: black;
    color: #fff;
}

.footer{
    margin-top: 100%;
    bottom: 0;
   padding: 1%;
    background-color: #fff;
    color: black;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    margin: 7%;
    font-size: 1.2rem;
    font-weight: bold;
}

a:hover{
    color: #f1e6e6e8;
}

.alerta{
    display: none !important;
}

h1{
    text-align: center;
    color: #ffffff;
}